<style>
	.table1{
		border-color: lightgray;
	}
	.td1,.td2{
		height: 36px;
	}
	.td1{
		text-align: right;
		padding-right: 5px;
		background-color: rgb(230,242,254);
		font-size: 14px;
	}
	.td2{
		padding-left: 5px;
	}
</style>
<form action="#">
<table class="table1" border="1" cellspacing="0" width="1110px">
	<tr>
		<td class="td1">商品名称:</td>
		<td class="td2"><input type="text" id="book_name" name="book_name"/></td>
	</tr>
	<tr>
		<td class="td1">作者:</td>
		<td class="td2"><input type="text" id="book_writer"/></td>
	</tr>
	<tr>
		<td class="td1">出版社:</td>
		<td class="td2"><input type="text" id="book_press"/></td>
	</tr>
	<tr>
		<td class="td1">商品父类:</td>
		<td class="td2">
			<select id="p_c_name">
                {% for i in class1 %}
				<option value="{{ i.id }}">{{ i.name }}</option>
                {% endfor %}
			</select>
		</td>
	</tr>
	<tr>
		<td class="td1">出版日期:</td>
		<td class="td2">
			<input type="date" id="time_public"/>
		</td>
	</tr>
    <tr>
		<td class="td1">出版日期:</td>
		<td class="td2">
			<input type="date" />
		</td>
	</tr>
    <tr>
		<td class="t2" colspan="2">
			<input type="button" value="提交" onclick="add_book()" />
			<input type="reset" value="重置"/>
		</td>
	</tr>
</table></form>
<script>
    function add_book() {
        var xhr;
        var name = document.getElementById('book_name').value
        var writer = document.getElementById('book_writer').value
        var press = document.getElementById('book_press').value
        var public = document.getElementById('time_public').value
        {#var writer document.getElementById('book_writer').value#}
        var p_c = document.getElementById('p_c_name')
        var index = p_c.selectedIndex
        var p_c_id = p_c.options[index].value
        if (window.ActiveXObject){
            xhr = new ActiveXObject("Microsoft.XMLHTTP")
        }else if(window.XMLHttpRequest){
            xhr = new XMLHttpRequest()
        }

        xhr.open('POST','{% url "commodity:add_book" %}',true);
        xhr.setRequestHeader("Content-type","application/x-www-form-urlencoded", "X-CSRFToken", '{{ csrf_token }}');
        console.log(name);
        xhr.send("name="+name+"&writer="+writer+'&press='+press+"&public="+public+"&p_c_id="+p_c_id+"&csrfmiddlewaretoken="+"{{ csrf_token }}");
        xhr.onreadystatechange=function()
        {
            if(xhr.readyState==4 && xhr.status==200){
                console.log('444')
                var text = xhr.responseText;   //获得字符串形式的响应数据
                console.log('text='+text);
                if (text=='1'){
                    alert('添加成功！')
                }else{
                    alert('添加失败！')
                }
            }
        }
    }
</script>